@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');



ul{
    list-style-type: none;  
    
    /* this is so there is no bulletpoints  */
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
}

i.fab{
    color:#8c6f94;
}
i.far{
    color:#8c6f94;
}

.social-list{
    
}

#topbar{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(#090970 -70px, #00d4ff 70%);
    /* width:100vh; */
    width: auto;
}

.button:hover{
    color: gray;    
}

#title{
    float: left;
    text-align: center;
    margin: 10px;
    color: #ffffff;
    letter-spacing: 5px;
}

.button{
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    float: right;
    padding: 20px;
}

.contact-button{
    padding: 20px;
    display: block;
    float: left;
    align-content: center;
}

#text{
    text-align: center;
    font-size: 150%;
}

.titles{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
}
.data{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: medium;
}