@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* content on  all pages */

.text{
    font-family: 'Montserrat', sans-serif;
}

#top-bar{
    justify-content: flex-end;
}

#title{
    letter-spacing: 0.5rem;
    display: inline-block;
}

#bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 2;
}

.change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change #bar2 {
    opacity: 0;
}
  
.change #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);    
}

#top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation-bar{
    visibility: hidden;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    background-color: white;
    position: absolute;
    height: 50%;
    width: 25%;
    top: 100px;
    right: 0px;
    z-index: 1;
}

a, .nav-option{
    text-decoration: none;
}

.nav-link{
    margin: 20%;
    overflow: hidden;
}

.nav-link:hover{
    background-color: #d9d9d9;
}

#nav-list{
    list-style: none;
    text-align: left;
}

/* home page */

#mid-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#front-text-container{
    padding: 0%;

}

#front-text{
    font-size: 1.5em;
    font-size: 1.8vw;
    display: block;
    white-space: pre;
    color: black
}

#front-headshot{
    width: 30em;
    height: 40em;
}

@media only screen and (max-width: 1200px) {
    #mid-container {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    #front-text{
        display: inline-block;
    }
}

.social-elements{
    margin: 5%;
    list-style-type: none;
    display: inline-block;
}

.social-list{
    text-align: center;
}

i.fab{
    color:black;
}

i.far{
    color: black;
}

nav{
    padding: 5%;
}


/* portfolio page */

.portfolio-title{
    text-align: center;
    text-decoration: underline;
}

#project-list{
    list-style: none; 
}

.project-container{
    display: flex;
    justify-content: center;
}

.portfolio-image{
    width: 10em;
    height: 10em;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

.project-description{
    float: right;
}

/* about page */

.skills-container{
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.description-container{
    display: flex;
    justify-content: center;
}




